<div class="jumbotron">
  <h1 class="display-4">Griff's Shopping </h1>
  <p class="lead">This is a simple product application. The user can create, retrieve, update and delete products.</p>
  <p class="lead">The user can order a product. The quantity entered must be greater than zero.</p>
  <p class="lead">The user can view order history. The quantity entered must be greater than zero.</p>
  <p class="lead">Flash messages are use to display errors/warnings.</p>
  <hr class="my-4">
  <h3>Happy Shopping</h3>
  <a class="btn btn-dark btn-lg" href="/products" role="button">View Products</a>
  <a class="btn btn-dark btn-lg" href="/orders" role="button">View Orders</a>
</div>